body {
  background-color: lightgray;
}

header {
  background-color: gray;
  text-align: center;
  padding: 20px;
}

.column {
  float: left;
  width: 50%;
  outline-style: solid;
  outline-color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
} 

#table {
  outline-style: solid;
  outline-color: black;
  margin-left: 1%
}

#table_t {
  outline-style: solid;
  outline-color: black;
  margin-left: 1%
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#Status_l {
	position:relative;
  margin-top: 40px;
	margin-left: 10%;
}

#Status_n {
	position:relative;
  margin-top: 100px;
	margin-left: 10%;
}

#nodejs_terminal {
  outline-style: solid;
  outline-color: black;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px, 20px; /* Add some padding */
}

#tornado_terminal {
  outline-style: solid;
  outline-color: black;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px,20px; /* Add some padding */
}

#exec_node {
  margin-bottom: 10px;
  margin-top: 10px;
  padding:2px,10px;
}

#exec_tornado {
  margin-bottom: 10px;
  margin-top: 10px;
  padding:2px,10px;
}

#radio {
  margin-left: 10%;
}

#test {
  border: none; /* Remove borders */
  color: black; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  position:relative;
  margin-top: 10px;
  margin-left: 40%;
  margin-bottom: 20px;
}

#refresh {
  border: none; /* Remove borders */
  color: black; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  position:relative;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 10%;
}

.info {background-color: gray;} 
.info:hover {background: darkgray;}

